
<div class = "row">
	<div class ="col-md-12">
		<div class="panel panel-default">
			<h1><%= @user.username %></h1>
		</div>
	</div>
</div>



<% if @stamps %>
	<div id="stamps" class="transitions-enabled">	
  	<%= render 'stamps/stamps' %>
	</div>

<% end %>
