<% if stamp.category == 1 %>Eat
	<span class="glyphicon glyphicon-cutlery"></span>
<% elsif stamp.category == 2 %>Drink
	<span class="glyphicon glyphicon-glass"></span>
<% elsif stamp.category == 3 %>Stay
	<span class="glyphicon glyphicon-home"></span>
<% elsif stamp.category == 4 %>Shop
	<span class="glyphicon glyphicon-shopping-cart"></span>
<% elsif stamp.category == 5 %>Explore
	<span class="glyphicon glyphicon-camera"></span>
	<% elsif stamp.category == 6 %>Event
	<span class="glyphicon glyphicon-calendar"></span>
<% else %>
<% end %>