<% if stamp.price_range == 1 %> 
	Free
<% elsif stamp.price_range == 2 %>
	<span class="glyphicon glyphicon-usd"></span>
<% elsif stamp.price_range == 3 %>
	<span class="glyphicon glyphicon-usd"></span>
	<span class="glyphicon glyphicon-usd"></span>
<% elsif stamp.price_range == 4 %>
	<span class="glyphicon glyphicon-usd"></span>
	<span class="glyphicon glyphicon-usd"></span>
	<span class="glyphicon glyphicon-usd"></span>
<% else %>
<% end %>