<div><input id="geocomplete" type="text" placeholder="Type in an address" /></div>

<div id="stamps" class="transitions-enabled">	
  <%= render 'stamps/stamps' %>
</div>


<%= will_paginate @stamps %>
