
<div class = "filter row">
	<div class ="col-md-12">

			<div>
				<ul class ="form-group"><%= select_tag "Categories",options_from_collection_for_select(Category.all, 'id', 'name', params[:category_id]), prompt:"Everything", id: "category_select", class: "form-control btn dropdown-toggle" %>
				</ul>
			</div>
	</div>
</div>
<div id="stamps" class="transitions-enabled">	
  <%= render 'stamps/stamps' %>
</div>


<%= will_paginate @stamps %>
