<%= image_tag @stamp.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @stamp.description %>
</p>

<% if @stamp.user == current_user %>
	<%= link_to 'Edit', edit_stamp_path(@stamp) %> |
<% end %>
	<%= link_to 'Back', stamps_path %>
