<h1>CityCoasting</h1>
<div class = "jumbotron">
    
		<h2> 
			citycoasting is the place to plan trips and discover the coolest things to do once you’re there.
		</h2>
    
    <h3>citycoasting is the place to plan trips and discover the coolest things to do once you’re there.
 
We’re a community of locals, avid travelers, and experiencers who are passionate about finding the best places to go in every city and sharing them with the world. Use citycoasting to plan your next trip or simply tonight’s plan out. Big or small, you’re covered for a unique experience.
 
We’re a curated travel site all about filtering out the noise and bringing out the best of every city. Utilizing our team of seasoned travelers combined with our worldwide userbase of curators, we promise to bring the best of each city to the surface.  No matter where you go, you’ll enjoy it.
 
With citycoasting, plan less and do more.
 
Get going. 
		</h3>

    
</div>