<div class = "container-fluid">
	<div class="row-fluid">
		<div class ="span12 page-header">
			<h1>Discover your city</h1>
		</div>
	  <a class="col-md-12 box  city-div" href = "#">
	  	<img src ="http://images.fineartamerica.com/images-medium-large-5/new-york-city-skyline-diane-diederich.jpg" >
		  	<div class = "city_hdr">
		  		<h1>NYC</h1>
		  	</div>
	  	</img>
	  </a>
	  
	  <a class="col-md-12 box city-div" href = "#">
	  	<img src ="http://www.discoveramerica.com/~/media/efd4437161da4351ba1747a4d2f08056/miami%20feature.jpg?w=1046&h=380&bg=ffffff" >
		  	<div class = "city_hdr">
		  		<h1>Miami</h1>
		  	</div>
	  	</img>
	  </a>
	  <a class="col-md-12 box  city-div" href = "#">
	  	<img src ="http://static.panoramio.com/photos/large/68553634.jpg" >
		  	<div class = "city_hdr">
		  		<h1>Chicago</h1>
		  	</div>
	  	</img>
	  </a>
	  <a class="col-md-12 box city-div" href = "#">
	  	<img src ="" >
		  	<div class = "city_hdr">
		  		<h1>More cities coming soon...</h1>
		  	</div>
	  	</img>
	  </a>
	</div>
</div>