<div class = "container-fluid">
	<div class="row-fluid">
		<div class ="span12 page-header">
			<h1>Welcome to the City Experience</h1>
		</div>
	  <a class="col-md-4 col-md-offset-2 box  city-div" href = "#">
	  	<img src ="http://www.newyorkpixels.com/photos/new-york-city/soho-lg/mercer-street-soho-lg.jpg" >
		  	<h2>NYC
		  	</h2>
	  	</img>
	  </a>
	  
	  <a class="col-md-7 box city-div" href = "#">
	  	<img src ="http://media-cdn.tripadvisor.com/media/photo-s/01/51/17/05/miami.jpg" >
		  	<h2>Miami
		  	</h2>
	  	</img>
	  </a>
	  <a class="col-md-7 box  city-div" href = "#">
	  	<img src ="http://www.noteinviaggio.it/public/img_brochure_viaggi/1_1612014_17322.jpg" >
		  	<h2>Chicago
		  	</h2>
	  	</img>
	  </a>
	  <a class="col-md-4 box city-div" href = "#">
	  	<img src ="" >
		  	<h2>
		  	</h2>
	  	</img>
	  </a>
	</div>
</div>