<div class = "container-fluid">
	<div class="row-fluid">
		<div class ="page-header">
			<h1>Discover your city</h1>
		</div>

		<%= link_to(city_path(1)) do %>
		  <div class="col-md-12 box  city-div">
		  	<img src ="http://www.nyccriminallawyers.com/wp-content/uploads/2013/10/raiser-kenniff-banner-nyc-dwi-laws.jpg" >
			  	<div class = "city_hdr">
			  		<h1>NYC</h1>
			  	</div>
		  	</img>
		  </div>
		<% end %>
	  
	  <%= link_to(city_path(4)) do %>
		  <div class="col-md-12 box city-div">
		  	<img src ="http://www.discoveramerica.com/~/media/efd4437161da4351ba1747a4d2f08056/miami%20feature.jpg?w=1046&h=380&bg=ffffff" >
			  	<div class = "city_hdr">
			  		<h1>Miami</h1>
			  	</div> 
		  	</img>
		  </div>
		<% end %>

		<%= link_to(city_path(2)) do %>
		  <div class="col-md-12 box  city-div" href = "#">
		  	<img src ="http://static.panoramio.com/photos/large/68553634.jpg" >
			  	<div class = "city_hdr">
			  		<h1>Chicago</h1>
			  	</div>
		  	</img>
		  </div>
		<% end %>

		<%= link_to(city_path(5)) do %>
		  <div class="col-md-12 box  city-div" href = "#">
		  	<img src ="http://www.hotelscheap.org/discount-travel-blog/wp-content/uploads/2012/05/San-Francisco-Skyline1.jpg" >
			  	<div class = "city_hdr">
			  		<h1>San Francisco</h1>
			  	</div>
		  	</img>
		  </div>
		<% end %>
	</div>
</div>