<div class = "row">
	<div class ="col-md-12">
	<div class = "center">
		<h1><%= @city.name %></h1>
	</div>
<div>
	<ul class ="form-group"><%= select_tag "Categories",options_from_collection_for_select(Category.all, 'id', 'name', params[:category_id]), prompt:"Everything", id: "category_city_select", class: "form-control btn dropdown-toggle" %>
	</ul>
</div>
	</div>
</div>
<div id="stamps" class="row">	
  <%= render 'cities/stamps' %>
</div>
<%= will_paginate @stamps %>