<h1>New Neighborhood</h1>

<%= render 'form' %>

<h2> Current Neighborhoods </h2>
<% @neighborhoods.each do |neighborhood| %>
	<%= neighborhood.name %><br>

<% end %>
<br>
<br>

<%= link_to 'Back', root_path %>
