<h1>New Neighborhood</h1>

<%= render 'form' %>

<h2> Current Neighborhoods </h2>
<% @cities.each do |city| %>
	<h3><%= city.name %></h3>
	<% city.neighborhoods.each do |neighborhood| %>
		<%= neighborhood.name %><br>
	<% end %>
	<br>
<% end %>
<br>
<br>

<%= link_to 'Back', root_path %>
