// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header{
	text-align:center;
}

.city-div{
	height:300px;
    padding:-20px;
}

.city_hdr{position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    text-align:center;
      filter: alpha(opacity=300); /* internet explorer */
    -khtml-opacity: 0.5;      /* khtml, old safari */
    -moz-opacity: 0.5;       /* mozilla, netscape */
    opacity: 0.5;  
    color:black;
}

.city-div img{
	height:100%;
    
}

.cities{
    padding-left:50px;
}