// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_stamps{
  padding-top:-25px;
}

.profile_stamp_sect #stamp_box{
  margin-top:0px;
}

#profile_stamps #stamp_box{
  width:30%;
  margin:5%;
}
