// Place all the styles related to the stamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stamps {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 268px;
	height: 268px;
}

.box img{
	width: 90%;
	height: 70%;
}