<nav class="navbar transparent navbar-noscroll" role="navigation">
  <div class = "container">
    <nav class="navbar-inner">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <%= link_to "citycoasting <beta>", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= link_to cities_path  do %>
          <p class="navbar-btn">
            <button type="button" class="btn btn-primary btn-block" id="modal_btn"><strong>Discover</strong></button>
          </p>
          <% end %>
        <% else %>
          <li>
            <p class="navbar-btn">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" id="modal_btn"><strong>Get Started</strong></button>
            <p class="navbar-btn">
          </li>
        <% end %>
      </ul>
    </nav>
 <!-- /.container-fluid -->
  </div>
</nav>